﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<NorthWind.DAL.EF.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

@{
    foreach (var group in Model.GroupBy(x => x.Category))
    {
        <div class="row col-sm-7 col-sm-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">@group.Key.CategoryName</h3>
                </div>


                <div class="panel-body container-fluid">
                    <div class="row col-sm-6 col-md-push-1">
                        <table class="table table-bordered table-responsive">
                            <tr class="info">
                                <th>@Html.DisplayNameFor(model => model.ProductName)  </th>
                                <th>@Html.DisplayNameFor(model => model.UnitPrice)    </th>
                                <th>@Html.DisplayNameFor(model => model.UnitsInStock) </th>
                                <th></th>
                            </tr>

                            @foreach (var item in group)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.ProductName)                     </td>
                                    <td>@Html.DisplayFor(modelItem => item.UnitPrice)                       </td>
                                    <td>@Html.DisplayFor(modelItem => item.UnitsInStock)                    </td>
                                    <td>@Html.ActionLink("Details", "Details", new { id = item.ProductID }, new { @class = "btn btn-default" }) </td>

                                </tr>
                            }

                        </table>
                    </div>

                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    }


}

