﻿@model IEnumerable<NorthWind.DAL.EF.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    ViewBag.Title = "Manage Products";
 }

        

<h2>Manage Products</h2>

<br/>

<div class="col-md-10 col-md-offset-2 form-group form-inline">
    
     <a class="" title="" href="@Url.Action("Create","Products") ">
       <label for="AddNewProduct" class="col-md-3 control-label btn btn-success">
           Add New Product
       </label>
     </a>
    
   

        @using (Html.BeginForm())
        {


            <label for="inputSearch" class="col-md-4 control-label">Search By Product or Category Name:</label>
            <div class="col-md-4">
                @Html.TextBox("SearchString")

                <input type="submit" class="btn btn-default" value="Search" />
            </div>


        }
</div>




@{

 
        foreach (var group in Model.GroupBy(x => x.Category))
        {
            <div class="row col-sm-11 col-sm-offset-1">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">@group.Key.CategoryName</h3>
                    </div>


                    <div class="panel-body container-fluid">
                        <div class="row col-sm-10 col-md-push-1">
                            <table class="table table-bordered table-responsive">
                                <tr class="info">
                                    <th>@Html.DisplayNameFor(model => model.ProductName)  </th>
                                    <th>@Html.DisplayNameFor(model => model.UnitPrice)    </th>
                                    <th>@Html.DisplayNameFor(model => model.UnitsInStock) </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in group)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.ProductName)                     </td>
                                        <td>@Html.DisplayFor(modelItem => item.UnitPrice)                       </td>
                                        <td>@Html.DisplayFor(modelItem => item.UnitsInStock)                    </td>

                                        <td>
                                            <a class="glyphicon glyphicon-list-alt" title="Details" href="@Url.Action("Details","Products", new { id=item.ProductID })"> </a>
                                            <a class="glyphicon glyphicon-pencil" title="Edit" href="@Url.Action("Edit","Products", new { id=item.ProductID })">      </a>
                                            <a class="glyphicon glyphicon-remove" title="Delete" href="@Url.Action("Delete","Products", new { id=item.ProductID })">    </a>
                                        </td>

                                    </tr>
                                }

                            </table>
                        </div>

                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        }


    }

