﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NorthWind Inc.", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { @class = "btn btn-primary btn-md glyphicon glyphicon-home" })</li>
                    <li>@Html.ActionLink("Products", "Index", "Products", new { @class = "btn btn-primary btn-md glyphicon glyphicon-tags" })</li>
                    <li>@Html.ActionLink("Order", "Index", "Order", new { @class = "btn btn-primary btn-md glyphicon glyphicon-shopping-cart" })</li>
                    <li>@Html.ActionLink("Manage", "Manage", "Products", new { @class = "btn btn-primary btn-md glyphicon glyphicon-cog" })</li>
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
       

        <div class="clearfix"></div>
        <footer>
            <p>&copy; @DateTime.Now.Year - NorthWind Inc.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">

    $(document).ready(function ()
    {
        $("input:text,form").attr("autocomplete", "off");
        $("input[type=text]").first().focus();
       
    })

    </script>


</body>
</html>
